*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#edf2f8;
    padding:60px 40px;
}

.container{
    max-width:1100px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.card{
    padding:30px;
    border-radius:12px;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
}

.profile{
    display:flex;
    align-items:center;
    gap:15px;
}

.profile img{
    width:45px;
    height:45px;
    border-radius:50%;
    object-fit:cover;
}

.profile h4{
    font-size:14px;
}

.profile p{
    font-size:12px;
    opacity:0.7;
}

.card h2{
    margin:20px 0;
    font-size:20px;
    line-height:1.3;
}

.card span{
    font-size:14px;
    line-height:1.6;
    opacity:0.8;
}

/* GRID PLACEMENT */

.card1{
    grid-column:1/3;
    background:#733fc8;
    color:white;
}

.card2{
    background:#48556a;
    color:white;
}

.card3{
    grid-column:4/5;
    grid-row:1/3;
    background:white;
    color:#333;
}

.card4{
    background:white;
    color:#333;
}

.card5{
    grid-column:2/4;
    background:#19202d;
    color:white;
}

/* Responsive */

@media(max-width:900px){
    .container{
        grid-template-columns:1fr;
    }

    .card{
        grid-column:auto !important;
        grid-row:auto !important;
    }
}
