* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

.first{
    background-color: lightgray;
    padding: 80px 0;
}

.first h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.first p{
    width: 70%;
    color: rgb(85, 76, 76);
    margin-bottom: 20px;

}

.bt{
    background-color:#007bff ;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
}
.bt:hover{
    background-color: #0056b3;
}

.content {
    padding: 60px 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30%;
}

.card h2 {
    margin-bottom: 15px;
}

.card p {
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
}

.bt2{
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.bt2:hover {
    background-color: #545b62;
}

